spring:
  application:
    name: DreamCode
  security:
    user:
      name: admin
      password: admin123

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/db_name}
    username: ${DB_USERNAME:username}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

# Allow overriding server port from environment (e.g. .env)
server:
  port: ${SERVER_PORT:8080}